body {
    margin:0px;
    padding:0px;
}
#container {
    padding:1px;
    height: calc(100vh - 10px);
    /* display:flex; */
    /* flex-direction: column; */
}


#header {
    max-heigth: 45px;
    felx:1;
}
#header span,time {
    color: green;
}


#content {
    display:flex;
    height: calc(100% - 45px);
}
#detail {
    width: 30%;
    background: rgba(0, 200, 0, 0.1);
    margin: 5px;
}

#chart {
    width: 70%;;
}

#method_detail_chart {
    width:100%;
    height:100%;
    padding:auto;
    margin:auto;
    align:center;
    
}
#method_detail_chart svg {
    width: 250px;
    height: 200px;
}

.st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }