body {
    margin:0px;
    padding:0px;
}
#container {
    padding:1px;
    height: calc(100vh - 10px);
    /* display:flex; */
    /* flex-direction: column; */
}


#header {
    max-heigth: 45px;
    felx:1;
}
#header span,time {
    color: green;
}


#content {
    display:flex;
    height: calc(100% - 45px);
}
#detail {
    width: 30%;
    background: rgba(0, 200, 0, 0.1);
    margin: 5px;
}

#chart {
    width: 70%;;
}

