body {
    margin:0px;
    padding:0px;
}

#container {
    padding:1px;
    height: calc(100vh - 10px);
    /* display:flex; */
    /* flex-direction: column; */
}
#container #header {
    max-heigth: 45px;
    felx:1;
}
#container #chart {
    flex: 1 0px;
    width: 100%;
    height: calc(100% - 45px);
}

#header span,time {
    color: green;
}
