<div class="container">
  <style>
    d-interface .st-sort-ascent:before{
    content: '\25B2';
    }

    d-interface .st-sort-descent:before{
    content: '\25BC';
    }
  </style>

  <div>
    <p>Name: {{info.Ifc}} </p>
    <p>TotalCall: {{info.TotalCall}} </p>
    <p>TotalCost: {{info.TotalCost/100/1000 | number:3}}ms </p>
  </div>

  <div id="method_detail" class="row">
    <div class="col-lg-4">
      <table st-table="data" class="table table-striped" st-safe-src="rows">
        <thead>
          <tr>
            <th st-sort="name">Name</th>
            <th st-sort="type">Type</th>
            <th st-sort="call">Call</th>
            <th st-sort="cost">Cost</th>
        </thead>

        <tbody>
          <tr ng-repeat="row in data" ng-click="switchM(row.name)">
            <td><a ui-sref="ifcs.detail.method({type: row.type, name: row.name})">{{row.name}} </a></td>
            <td>{{row.type}}</td>
            <td>{{row.call | percentage: info.TotalCall:2}}</td>
            <td>{{row.cost | percentage: info.TotalCost:2}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-8">
      <ui-view></ui-view>
    </div>

  </div>
</div>
